
.vs/roman_numerals_net/v16/.suo
.vs/roman_numerals_net/v16/Server/sqlite3/db.lock
.vs/roman_numerals_net/v16/Server/sqlite3/storage.ide
.vs/roman_numerals_net/v16/Server/sqlite3/storage.ide-shm
.vs/roman_numerals_net/v16/Server/sqlite3/storage.ide-wal
roman_numerals_net/bin/Debug/roman_numerals_net.exe
roman_numerals_net/bin/Debug/roman_numerals_net.pdb
roman_numerals_net/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
roman_numerals_net/obj/Debug/roman_numerals_net.csproj.FileListAbsolute.txt
roman_numerals_net/obj/Debug/roman_numerals_net.csprojAssemblyReference.cache
roman_numerals_net/obj/Debug/roman_numerals_net.exe
roman_numerals_net/obj/Debug/roman_numerals_net.pdb
roman_numerals_net/obj/Debug/roman_numerals_net.csproj.CoreCompileInputs.cache
